<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hala.designpatternsinkotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hala.designpatternsinkotlin.Behavioral.ChainOfResponsibility.ChainClientActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Structural.adapter.AdapterPatternMainActivity" />
        <activity android:name=".Structural.decorator.DecoratorPatternMainActivity" />
        <activity android:name=".Structural.facade.FacadeMainActivity" />
        <activity android:name=".Structural.proxy.ProxyPatternMainActivity" />
        <activity android:name=".Behavioral.Command.CommandClientActivity" />
        <activity android:name=".Behavioral.Mediator.MediatorClientActivity" />
        <activity android:name=".Behavioral.Interpreter.InterpreterClientActivity" />

        <!--<activity android:name=".Behaviorial.ChainOfResponsibility.ChainClientActivity" />-->
        <!--<activity android:name=".Creational.Builder.BuilderClientActivity" />-->
        <!--<activity android:name=".Creational.AbstractFactory.AbstractFactoryClient" />-->
        <!--<activity android:name=".Creational.Factory.FactoryClient" />-->
        <!--// <activity android:name=".Creational.Singleton.SingletonDemoActivity" />-->
        <!--<activity android:name=".Structural.flyweight.FlyweightPatternMainActivity" />-->
    </application>

</manifest>